body {
	background-color: white;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	z-index: 0;
}

#main {
	background-color: #EBEBEB;
	padding: 180px 9%;
	z-index: 1;
}

select {
	width: 70px;
	padding: 5px 5px;
	margin-top: 5px;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
}

input {
	padding: 5px 5px;
	margin-top: 5px;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
}

input:focus {
	border: 3px solid #555;
}

